version: 2
updates:
- package-ecosystem: "docker"
  # Look for a `Dockerfile` in the `root` directory
  directory: "/"
  # Check for updates once a week
  schedule:
      interval: "daily"
  reviewers:
  - yezz123
