version: 2

updates:

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    reviewers:
    - yezz123

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
    reviewers:
    - yezz123
