fastapi == 0.70.0
PyJWT==2.3.0
cryptography == 35.0.0
httpx == 0.20.0
aioredis==2.0.0
passlib == 1.7.4
itsdangerous == 1.1.0
bcrypt == 3.2.0
email-validator == 1.1.1
motor == 2.3.0
aiosmtplib == 1.1.4
pydantic == 1.8.2
