-r requirements.txt

pytest==6.2.5
pytest-asyncio == 0.16.0
requests==2.26.0
uvicorn
pre-commit
asynctest
bumpversion
codecov
pytest-cov
mkdocs == 1.2.3
mkdocs-material == 7.3.6
mkdocs-markdownextradata-plugin == 0.2.4
mkdocs-mermaid2-plugin
markdown-include
pymdown-extensions
mdx-include
