[bumpversion]
current_version = 0.0.9
commit = True
tag = True

[bumpversion:file:AuthX/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:setup.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

