name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  mypy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: setup uv
        uses: yezz123/setup-uv@v4.1
        with:
          uv-venv: ".venv"

      - name: Install Dependencies
        run: uv sync --group lint --all-extras

      - name: Typecheck with mypy
        run: bash scripts/mypy.sh

  tests:

    name: test py${{ matrix.python-version }} on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}-latest


    strategy:

      matrix:

        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

        os: [ubuntu]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: setup UV
        uses: yezz123/setup-uv@v4.1
        with:
          uv-venv: ".venv"

      - name: Install Dependencies
        run: uv sync --group test --all-extras

      - name: Test with pytest - ${{ matrix.os }} - py${{ matrix.python-version }}
        run: bash scripts/test.sh
        env:
          CONTEXT: ${{ runner.os }}-py${{ matrix.python-version }}-with-deps

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml

  # https://github.com/marketplace/actions/alls-green#why
  # used for branch protection checks
  check:
    if: always()

    needs: [mypy, tests]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
